.counters {
  margin-right: 30px;
  font-size: 10px;
  text-align: center;
}

.counters strong {
  display: block;
  font-size: 2em;
}

.counters .vote,
.counters .answer {
  width: 60px;
  height: 60px;
}

.counters .status.unanswered {
  border: none;
}

.counters .status.answered {
  border: 1px solid #5fbb7e;
  color: #5fbb7e;
}

.counters .status.answered-accepted {
  background: #5fbb7e;
  color: #fff;
}

.counters .views {
  margin-top: 10px;
}

.invalid-feedback {
  display: inline !important;
}

.is-inavlid {
  border: 1px solid #dc3545 !important;
}

form.form-delete {
  display: inline;
}

